{% extends "layout.html" %}
{% block body %}


<div class="col">
  <h1>About</h1>
  <p>Python Mailing List Search Engine indexes the <a href="https://mail.python.org/pipermail">Python mailing lists</a>. It uses a custom scraper to crawl these mailing lists. Additionally, it utilizes the <a href="http://whoosh.readthedocs.io/en/latest/">Whoosh</a> Python library to create an index and perform search queries.</p>
  <p>It was built by <a href="https://github.com/bcongdon/">Benjamin Congdon</a> and <a href="https://github.com/tommypacker">Tommy Yu</a></p>.
</div>

{% endblock %}