{% extends "layout.html" %}
{% block body %}

<div class="row" align-items-center>
  <div class="col-lg-6 col-sm-16 d-block mx-auto">
    <div class="card">
      <div class="card-body">
        <!-- Search form -->
        <h5 class="card-title">Search the Python mailing lists...</h5>
        <p class="card-text">
          This site hosts an index of the Python mailing lists. You can use the search box below to search for messages accross a variety of topics related to the Python community/ecosystem.
        </p>
        <form action="/search", method="GET">
            <div class="input-group mb-3">
              <input class="form-control"
                     placeholder="What do you want to learn about? 🐍" 
                     name="query">
              <div class="input-group-append">
                <button class="btn btn-outline-primary" type="submit">
                  Search <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
            <label for="datefilter">Filter By Date</label>
            <div class="input-group mb-3">
              <input class="form-control" type="text" id="datefilter" name="daterange" value="" placeholder="Select Dates" />
            </div>
            <label for="datefilter">Filter By Mailing List Id</label>
            <div class="input-group mb-3">
              <input class="form-control"
                     placeholder="Mailing List Id" 
                     name="mail-id">
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}