{% extends "search.html" %}
{% block results %}

{% for result in search_results %}

<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{result[0]}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{result[1]}}</h6>
    {% set paragraphs = result[2].split('\n') -%}
    <p class="card-text">
        {% for para in paragraphs if not para.startswith('>') %}
            {% if not para %}
                <br>
            {% else %}
                <p style="margin: 0px">{{ para }}</p>
            {% endif %}
        {% endfor %}
    </p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

{% endfor %}

{% endblock %}