{% extends "layout.html" %}
{% block body %}

<!-- Search form -->
<form action="/search", method="GET">
    <div class="input-group">
      <input class="form-control"
             placeholder="Search the Python mailing lists..."
             name="query">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
</form>


<br>

{% block results %}{% endblock %}

{% endblock %}